/* Theme Color */

.main-footer.style-five .user-links li a:hover,
.main-footer.style-five .contact-list li:hover strong,
.main-footer.style-five .contact-list li .text a:hover,
.main-footer.style-five .recent-posts .post h4:hover a,
.feature-block-seven .count,
.feature-block-five h4,
.feature-block-four .icon ,
.why-choose-us .content-box .icon-box .title,
.service-block-four .lower-content h4 a:hover,
.service-block-four .lower-content .read-more,
.about-section-four .content-column p strong,
.about-section-four .content-column p a,
.banner-section-three .content-box h2 span,
.banner-section-three .content-box .title,
.social-icon-three li a:hover,
.banner-section .content-box h2 span,
.main-slider .title,
.preloader:before,
.default-arrows .owl-next:hover,
.default-arrows .owl-prev:hover,
.team-block-two .info-box .designation,
.service-block-two .lower-content h4 a:hover,
.btn-style-one:hover,
.nav-outer .mobile-nav-toggler,
.testimonial-section .client-thumb-outer .author-name,
.header-style-two .sticky-header .main-menu .navigation > li.current > a,
.header-style-two .sticky-header .main-menu .navigation > li.current > span,
.header-style-two .sticky-header .main-menu .navigation > li.current  span.current,
.header-style-two .sticky-header .main-menu .navigation > li.current > span:after,
.bg-tealblue:hover,
.service-block-two .lower-content .icon,
.mixitup-gallery .filter-tabs li.active,
.blog-post .news-block .lower-content .post-info li span,
.sec-bottom-text a,
.author-box .title,
.fun-fact-section-two .count-box .icon-box,
.main-menu .navigation > li li > a:hover, 
.main-menu .navigation > li > ul > li > ul > li.current > a, 
.main-menu .navigation > li > ul > li > ul > li.current > a,
.main-menu .navigation > li > ul > li.current > a,
.header-top-two .top-left .contact-list li i,
.news-block .post-author a,
.testimonial-section-two .client-thumb-outer .author-name,
.feature-block-three .icon,
.fun-fact-section .count-box .icon-box,
.main-menu .navigation > li.current > a, 
.about-section .video-link .play-btn,
.main-menu .navigation > li.current > span,
.main-menu .navigation > li.current.dropdown > span:after, 
.service-block-five .lower-content h4:hover a,
.team-block-two .image-box .social-links li a:hover,
.pricing-block .btn-box a,
.pricing-block .features li:before,
.btn-style-two,
.feature-block-two .icon,
.feature-block .icon,
.header-top .top-left .contact-list li i,
.service-block .icon,
.pricing-block .price,
.about-section-three .about-owner .name,
.banner-section-two .content-box .icon-box,
.why-choose-us .content-box .title-box h4,
.testimonial-block-two .info-box .patient,
.client-testimonial-carousel .owl-prev, 
.client-testimonial-carousel .owl-next,
.contact-info-block .icon,
.info-block .icon,
.service-block-five .lower-content .read-more,
.timing-list li:before,
.appointment-section-three .timetable-info h3,
.banner-section-four .content-box .title,
.default-tabs.style-two .tab-buttons li.active-btn,
.default-tabs .tab-buttons li.active-btn,
.latest-news .post .post-info,
.latest-news .post:hover h5 a,
.category-list li a:before,
.main-menu .navigation > li.current span.current, 
.main-menu .navigation > li.current > a, 
.main-menu .navigation > li.current > span,
.news-block-three .content-box .post-info a,
.news-block-three .content-box .post-info a,
.feature-block-six .icon,
.payment-box .payment-options li .radio-option .what-paypall,
.page-title h1,
.order-box ul li span,
.checkout-page .sec-title h3,
.checkout-page .default-links li .far,
.checkout-page .default-links li a,
.checkout-page .default-links li a:hover,
.cart-table tbody tr .remove-btn:hover,
.comments-area .comment-box .reply-btn,
.shop-single .product-details .prod-tabs .tab-btns .tab-btn, 
.service-detail .prod-tabs .tab-btns .tab-btn.active-btn,
.appointment-section-three .content-column .title,
.why-choose-us .skills .skill-item .skill-header .skill-percentage,
.theme_color,
a{
	color: #353f4b;
}

/*=== Background Color ===*/

.shipping-form button,
.cart-section .totals-table .proceed-btn,
.cart-section .cart-options .cart-btn,
.cart-section .coupon-btn,
.shop-item:hover .add-to-cart,
.payment-box .payment-options li .radio-option label .small-text,
.shop-single .product-details .prod-tabs .tab-btns .tab-btn:hover, 
.shop-single .product-details .prod-tabs .tab-btns .tab-btn.active-btn,
.sidebar .newslatters .form-group input[type="submit"], 
.sidebar .newslatters .form-group button,
.latest-news .post-thumb a:before,
.category-list li a:hover,
.testimonial-section-two:before,
.call-to-action-two:before,
.main-footer.style-five .footer-bottom,
.call-to-action-two .info-box,
.fun-fact-section-four:before,
.default-tabs .tab-buttons,
.accordion-box.style-two .active-block,
.feature-block-four .inner-box:before,
.feature-block .inner-box:hover,
.btn-style-two span:not(.btn-title),
.welcome-section:before,
.feature-block-six .inner-box:hover,
.appointment-section-two:before,
.accordion-box .block .acc-btn.active,
.service-detail .prod-tabs .tab-btns .tab-btn:before,
.main-footer .footer-column .widget-title:before,
.main-footer .footer-column .widget-title:after,
.default-dots .owl-dot.active,
.team-block-two .inner-box:before,
.time-table-section ::-webkit-scrollbar-thumb,
.search-popup .form-group button,
.appointment-form-section:before,
.search-popup .form-group input[type="submit"],
.doctors-time-table thead tr,
.doctors-time-table tbody tr th,
.pricing-block .price-box:before,
.btn-style-one,
.fun-fact-section .count-box:hover .icon-box,
.news-block .image-box .date,
.service-block-three .icon,
.social-icon-four li a:hover,
.news-block .post-format-link,
.why-choose-us .appointment-box .appointment-form:before,
.top-features:before,
.color-scheme-scarlet .testimonial-section-two:before,
.fun-fact-section-three .background-layer,
.skill-section:before,
.appointment-section .image-layer:before,
.team-block .social-links li a:hover,
.team-block-two .image-box .social-links li a,
.skills .skill-item .skill-bar .bar-inner .bar,
.header-top-three,
.testimonial-section-two .owl-dot.active,
.service-block .icon:after,
.bg-tealblue,
.header-style-two .main-box:before,
.main-footer .widgets-section:before,
.portfolio-block .overlay .icon-box,
.feature-block-two .inner-box:hover,
.about-section-two:before,
.main-footer .footer-bottom,
.main-footer.style-two .footer-bottom,
.default-table thead,
.services-categories li a:after,
.coming-soon .emailed-form .form-group input[type="submit"], 
.coming-soon .emailed-form button,
.pricing-block .inner-box:hover .btn-box a,
.main-footer.style-three .footer-bottom,
.pricing-section .tab-buttons li.active-btn,
.sidebar .popular-tags a:hover,
.portfolio-block .overlay .title-box:before,
.social-icon-one li a:hover{
	background-color: #353f4b;
}

/*Border Color*/ 

.header-style-two,
.checkout-form input:focus, 
.checkout-form select:focus, 
.checkout-form textarea:focus,
.contact-info-block .inner:hover,
.feature-block-four .inner-box:after,
.sidebar .popular-tags a:hover,
.feature-block-three .inner-box:before,
.service-block .inner-box:hover,
.about-section-four .image-box .image:before,
.fun-fact-section .count-box:hover .icon-box,
.pricing-block .btn-box a,
.banner-section .active .content-box,
.client-testimonial-carousel .owl-prev, 
.client-testimonial-carousel .owl-next,
.why-choose-us .content-box .icon-box .title,
.testimonial-carousel-two .owl-dot:hover,
.testimonial-carousel-two .owl-dot.active,
.testimonial-block-two .inner-box,
.default-tabs.style-two .tab-buttons li.active-btn,
.fun-fact-section .count-box .icon-box:before,
.fun-fact-section .count-box .icon-box:after,
.comment-form .form-group input:focus, 
.comment-form .form-group select:focus, 
.comment-form .form-group textarea:focus,
.shop-single .product-details .prod-tabs .tab-btns .tab-btn, 
.contact-form .form-group input:focus, 
.contact-form .form-group select:focus, 
.contact-form .form-group textarea:focus,
.shop-comment-form .form-group input[type="text"]:focus, 
.shop-comment-form .form-group input[type="password"]:focus, 
.shop-comment-form .form-group input[type="tel"]:focus, 
.shop-comment-form .form-group input[type="email"]:focus, 
.shop-comment-form .form-group select:focus, 
.shop-comment-form .form-group textarea:focus,
.default-form .form-group input[type="text"]:focus,
.default-form .form-group input[type="email"]:focus,
.default-form .form-group input[type="url"]:focus,
.default-form .form-group select:focus,
.default-form .form-group textarea:focus,
.tnc-tabs .tab-buttons li:hover, 
.tnc-tabs .tab-buttons li.active-btn,
.mixitup-gallery .filter-tabs li.active,
.main-header,
.social-icon-four li a:hover,
.payment-box .payment-options li .radio-option label .small-text:before,
.default-form .form-group textarea:focus{
	border-color: #353f4b;
}

.sec-title .divider svg,
.sec-title .divider svg{
	fill: #353f4b;
}